:root {
  --bodyBg: #f0f4f8;
  --menuBg: #334d68;
  --footerBg: #25374b;
  --progressBar: #54d1db;
}

body {
  background: var(--bodyBg);
  min-width: 320px;
}

#menu {
  background: var(--menuBg);
}

#footer {
  background: var(--footerBg);
}

#computerStyle {
  margin-bottom: 1em;
  height: 286px;
}
#tabletStyle {
  margin-bottom: 1em;
  height: 286px;
}

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}
